@use "../abstracts" as *;

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $card-body-padding;
  }

  &[data-type="testimonial"] .card-body {
    position: relative;
    isolation: isolate;

    &::after {
      position: absolute;
      top: -7rem;
      left: 1rem;
      z-index: -1;
      content: "\201C";
      font-size: 25rem;
      font-family: $ff-accent;
      opacity: 0.2;
    }
  }
}
